body { 
  margin: 0;
}

#bar-frame { 
  position: fixed;
  height: 200px;
  width: 100%;
  background-color: #383f43;
  z-index: 1;
  /* display: sflex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: row;
  vertical-align: middle; */
  /* align-items: flex-start;  */
  /* display: table-cell;  */
}

@media (max-width: 768px) {
  #bar-frame  {
    height: 200px;
  }
}

#home-menu-button {
  /* position: relative; */
  /* top: 30%;
  /* left: 13%; */
  /* line-height: 15; */
  height: 100%;
  /* white-space: nowrap; */
  /* margin: 30; */
  flex: 1;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: white;
}

#listen-menu-button {
  /* position: absolute;
  top: 30%;
  left: 20%; */
  /* flex: 1; */
  font-size: 20px;
  
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white; 
}

#bio-button {
  /* position: absolute;
  top: 30%;
  left: 27%; */
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* overflow: hidden; */
  /* outline: none; */
  color: white;
}

#linkedin-icon {
  position: absolute;
  left: 35%;
  top: 10px;
  width: 40px;
  height: 40px; 
}

#facebook-icon {
  position: absolute;
  left: 40%;
  top: 10px;
  width: 40px;
  height: 40px; 
}

#instagram-icon {
  position: absolute;
  left: 45%;
  top: 10px;
  width: 40px;
  height: 40px; 
}

#home-frame {
  background-color: green;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start; 
}

#home-frame-wave {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 42% 0px; /* Centers image for mobile */
}

#home-filler {
  position: relative;
  flex: 2;
}

#home-frame-title {
  position: relative;
  margin: 0 auto;
  flex: 1;
  color: #000080;
  font-size: 72px;
  font-family: 'Comic Sans MS';
  text-align: center;
  font-weight: 'bold';
  /* border: 1px solid red; */
}

@media (max-width: 768px) {
  #home-frame-title  {
    font-size: 85px;
  }
}

#home-frame-text {
  font-size: 32px;
  /* border: 1px solid red; */
}

@media (max-width: 768px) {
  #home-frame-text  {
    font-size: 40px;
  }
}

#listen-button {
  position: relative;
  /* border: 1px solid red; */
  margin: 50 auto;
  height: 100px;
  width: 300px;
  color: white;
  background-color: #393F44;
  font-size: 30px;
  border-radius: 40px; 
}

@media (max-width: 768px) {
  #listen-button  {
    height: 150px;
    width: 450px;
    font-size: 45px;
  }

#video-frame {
  background-color: #383f43;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#intro-frame {
  /* position: absolute; */
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fae8bd;
}

#intro-frame-image {
  /* margin: 0; */
  /* position: absolute; */
  /* left: 10%; */
  /* top: 50%; */
  height: 100%;
  /* background-color: blue; */
  /* Centers image vertifally */
  /* -ms-transform: translateY(-50%);  */
  /* Centers image vertifally */
  /* transform: translateY(-50%);  */
}

#intro-title {
  position: relative;
  left: 20%;
  top: 10%;
  width: 30%;
  color: #393F44;
  font-size: 50px;
  font-family: 'Georgia,sans-serif';
  /* background-color: green; */
  line-height: 1.3;
  color: #e80fe1
}

#intro-text {
  position: relative;
  top: 10%;
  color: #393F44;
  font-size: 34px;
  font-family: Georgia,sans-serif;
  line-height: 1.3;
  color: #e80fe1;
  line-height: 1.5;
}

#bio-frame {
  width: 100%;
  background-color: #d6d8d6;
}

#bio-title {
  width: 100%;
  padding-top: 50px;
  color: #393F44;
  font-size: 45px;
  font-family: Georgia,sans-serif;
  line-height: 1.3;
  text-align: center;
}

#bio-text1 {
  color: #393F44;
  font-size: 31px;
  font-family: Georgia,sans-serif;
  line-height: 1.6;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
  padding-bottom: 50px;
  text-align: center;
}

#bio-frame2 {
  display: flex;
  align-items: center;
  background-color: #fae8bd;
}

#bio-frame2-image {
  margin: 50px;
  width: 30%;
  object-fit: contain;
}

#bio-text2 {
  margin: 70px;
  color: #393F44;
  font-size: 31px;
  font-family: Georgia, sans-serif;
  /* background-color: purple; */
  line-height: 1.4;
  text-align: center;
}


/* @media only screen and (max-width: 1000px) {
  #home-frame, #video-frame  {
    height: 50%;
  }
} */
