body { 
  margin: 0;
}

#bar-frame { 
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  background-color: #383f43;
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  #bar-frame  {
    height: 100px;
  }
}

#menu_buttons {
  flex: 3;
}

#home-menu-button {
  height: 100%;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 25px;
  background-color: transparent;
  border: 1px solid red;
  border: none;
  color: white;
}

@media only screen and (max-width: 1000px) {
  #home-menu-button  {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 35px;
  }
}

#listen-menu-button {
  font-size: 20px;
  margin-right: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white; 
}

@media only screen and (max-width: 1000px) {
  #listen-menu-button  {
    margin-right: 15px;
    font-size: 35px;
  }
}

#bio-button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 1000px) {
  #bio-button  {
    font-size: 35px;
  }
}

#social_buttons {
  flex: 2;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

#linkedin-icon {
  height: 70%;
  margin-left: 60px;
  margin-right: 40px;
  /* border: 1px solid red; */
}

#facebook-icon {
  height: 70%;
  margin-right: 40px;
  /* border: 1px solid red; */
}

#instagram-icon {
  height: 70%;
  /* border: 1px solid red;  */
}

#filler-frame {
  height: 60;
  /* background-color: #e80fe1; */
}

@media only screen and (max-width: 1000px) {
  #filler-frame  {
    height: 100;
  }
}

#home-frame {
  background-color: #d6d8d6;
  height: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: flex-start;  */
}

@media only screen and (max-width: 1000px) {
  #home-frame  {
    top: 100px;
  }
}

#profile-container {
  /* width: 100%;
  object-fit: cover;
  height: 300px; */
  display: flex;
  justify-content: center;
  /* height: 70%;
  /* background-color: aqua; */
}

#home-frame-title {
  position: relative;
  margin: 0 auto;
  height: 30%;
  padding-top: 40px;
  color: #393F44;
  font-size: 72px;
  font-family: brandon-grot-w01-light, sans-serif;
  text-align: center;
  font-weight: 'bold';
  /* border: 1px solid red; */
}

@media only screen and (max-width: 1000px) {
  #home-frame-title  {
    font-size: 85px;
  }
}

#profile {
  padding-top: 20;
  /* object-fit: cover; */
  height: 100%;
  
}

@media only screen and (max-width: 1000px) {
  #profile  {
    padding-top: 0;
    width: 100%;
  }
}

#home-frame-wave {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 42% 0px; /* Centers image for mobile */
}

#home-filler {
  position: relative;
  flex: 2;
}



#home-frame-text {
  font-size: 32px;
  /* border: 1px solid red; */
}

@media only screen and (max-width: 1000px) {
  #home-frame-text  {
    font-size: 40px;
  }
}

#listen-button {
  position: relative;
  /* border: 1px solid red; */
  margin: 50 auto;
  height: 100px;
  display: none;
  width: 300px;
  color: white;
  background-color: #393F44;
  font-size: 30px;
  border-radius: 40px; 
}


@media only screen and (max-width: 1000px) {
  #listen-button  {
    display: block;
    height: 150px;
    width: 450px;
    font-size: 45px;
  }
}


#video-frame {
  display: flex;
  background-color: #d6d8d6;
  /* background-color: pink; */
}

@media only screen and (max-width: 1000px) {
  #video-frame  {
    display: block;
  }
}

#video {
  /* flex: 1; */
  padding: 20px;
  flex-basis: 50%; /* This is same as flex 1 I think */
  /* border: 1px solid red;
  background-color: green; */
  color: #393F44;
  font-size: 31px;
  font-family: Georgia,sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

#video-frame2 {
  display: flex;
  background-color: #fae8bd;
  /* background-color: pink; */
}

@media only screen and (max-width: 1000px) {
  #video-frame2  {
    display: block;
  }
}

#intro-frame {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #fae8bd;
}

#intro-frame-image {
  align-self: center;
  flex: 1;
  /* max-height: 100%; */
  max-width: 25%;
  /* height: 100%; */
  /* background-color: red; */
}

@media only screen and (max-width: 1000px) {
  #intro-frame-image  {
    max-width: 50%;
    height: 50%;
  }
}

#intro-title {
  /* position: relative; */
  flex: 2;
  left: 20%;
  margin: 50px;
  /* top: 10%; */
  /* width: 30%; */
  color: #393F44;
  font-size: 50px;
  font-family: 'Georgia,sans-serif';
  /* background-color: green; */
  line-height: 1.3;
  color: #e80fe1
}

#intro-text {
  margin-top: 30px;
  font-size: 34px;
  font-family: Georgia,sans-serif;
  color: #e80fe1;
  line-height: 1.5;
}

@media only screen and (max-width: 1000px) {
  #intro-text  {
    font-size: 45px;
  }
}

#bio-frame {
  width: 100%;
  background-color: #fae8bd;
}

#bio-title {
  width: 100%;
  padding-top: 50px;
  color: #393F44;
  font-size: 45px;
  font-family: Georgia,sans-serif;
  line-height: 1.3;
  text-align: center;
}

#bio-text1 {
  color: #393F44;
  font-size: 31px;
  font-family: Georgia,sans-serif;
  line-height: 1.6;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
  padding-bottom: 50px;
  text-align: center;
}

#bio-frame2 {
  display: flex;
  align-items: center;
  background-color: #d6d8d6;
}

#bio-frame2-image {
  margin: 50px;
  width: 30%;
  object-fit: contain;
}

#bio-text2 {
  margin: 70px;
  color: #393F44;
  font-size: 31px;
  font-family: Georgia, sans-serif;
  /* background-color: purple; */
  line-height: 1.4;
  text-align: center;
}

#hobbies-frame {
  background-color: #fae8bd;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#hobbies-title {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #393F44;
  font-size: 45px;
  font-family: Georgia,sans-serif;
  line-height: 1.3;
  text-align: center;
}

#hobbies-content {
  display: flex;
  width: 100%;
  align-items: center;
}

#hobbies-frame-image {
  align-self: center;
  flex: 1;
  /* max-height: 100%; */
  max-width: 25%;
  /* height: 100%; */
  /* background-color: red; */
}