body { 
  margin: 0;
}

#bar-frame { 
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #383f43;
    z-index: 1;
}

#home-frame {
  background-color: green;
}

#home-frame-wave {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 42% 0px;
}

#home-frame-title {
  position: absolute;
  top: 60%;
  width: 100%;
  color: #000080;
  font-size: 72px;
  font-family: 'Comic Sans MS';
  text-align: center;
  font-weight: 'bold';
}

#home-frame-text {
  position: absolute;
  top: 115%;
  width: 100%;
  font-size: 32px;
  font-family: 'Comic Sans MS';
  text-align: center;
}

#intro-frame {
  width: 100%;
  height: 80%;
  background-color: #fae8bd
}



#bio-frame {
  height: 50%;
  background-color: #d6d8d6;
}

@media only screen and (max-width: 1000px) {
  #bio-frame {
    position: absolute;
    top: 180%;
    left: 0px;
    right: 0px;
    height: 30%;
    bottom: 0px;
    background-color: #d6d8d6;
  }
}

#intro-frame-image {
  margin: 0;
  position: absolute;
  left: 10%;
  top: 50%;
  height: 100%;
  -ms-transform: translateY(-50%); /* Centers image vertifally */
  transform: translateY(-50%); /* Centers image vertifally */
}

@media only screen and (max-width: 1000px) {
  #intro-frame-image {
    margin: 0;
    position: absolute;
    left: -5%;
    top: 50%;
    height: 70%;
    -ms-transform: translateY(-50%); /* Centers image vertifally */
    transform: translateY(-50%); /* Centers image vertifally */
  }
}

#intro-title {
  position: absolute;
  left: 55%;
  top: 30%;
  width: 80%;
  color: #393F44;
  font-size: 50px;
  font-family: 'Georgia,sans-serif';
  line-height: 1.3;
  color: #e80fe1
}

#intro-text {
  position: absolute; 
  top: 40%;
  left: 55%;
  width: 40%;
  color: #393F44;
  font-size: 34px;
  font-family: Georgia,sans-serif;
  line-height: 1.3;
  color: #e80fe1;
  line-height: 1.5;
}

#home-menu-button {
    position: absolute;
    top: 30%;
    left: 13%;
    font-size: 20px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

#listen-menu-button {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 20px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

#listen-button {
  position: absolute;
  left: 50%;
  top: 80%;
  margin-left: -150px;
  height: 100px;
  width: 300px;
  color: white;
  background-color: #393F44;
  font-size: 30px;
  border-radius: 40px;
  
}

#linkedin-icon {
    position: absolute;
    left: 30%;
    top: 10px;
    width: 40px;
    height: 40px; 
}

#facebook-icon {
  position: absolute;
  left: 35%;
  top: 10px;
  width: 40px;
  height: 40px; 
}

#instagram-icon {
  position: absolute;
  left: 40%;
  top: 10px;
  width: 40px;
  height: 40px; 
}

@media only screen and (max-width: 1000px) {
  #wave {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    margin-left: auto; /* Centers image horizontally */
    margin-right: auto; /* Centers image horizontally */
    object-fit: cover; /* Keep aspect ratio and fill dimensions. */
  }
}



#bio-frame2 {
  position: absolute;
  top: 230%;
  left: 0px;
  right: 0px;
  height: 60%;
  bottom: 0px;
  background-color: #fae8bd;
}

@media only screen and (max-width: 1000px) {
  #bio-frame2 {
    position: absolute;
    top: 210%;
    left: 0px;
    right: 0px;
    height: 60%;
    bottom: 0px;
    background-color: #fae8bd;
  }
}

#bio-frame2-image {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 30%;
  height: 60%;
  object-fit: contain;
}

#bio-title {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  color: #393F44;
  font-size: 45px;
  font-family: Georgia,sans-serif;
  line-height: 1.3;
  text-align: center;
}

#bio-text {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  color: #393F44;
  font-size: 31px;
  font-family: Georgia,sans-serif;
  line-height: 1.4;
  text-align: center;
}