#barFrame { 
    font-size: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background-color: #383f43;
    z-index: 100;
}

#homeFrame {
  position: absolute;
  top: 60px;
  left: 0px;
  right: -2px;
  bottom: 0px;
  background-color: green;
}

#introFrame {
  position: absolute;
  top:100%;
  left: 0px;
  right: 0px;
  height: 80%;
  bottom: 0px;
  background-color: #fae8bd
}

#introFrameImage {
  margin: 0;
  position: absolute;
  top: 50%;
  height: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#introTitle {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 80%;
  color: #393F44;
  font-size: 50px;
  font-family: 'Georgia,sans-serif';
  line-height: 1.3;
  color: #e80fe1
}

#introText {
  position: absolute; 
  top: 50%;
  left: 50%;
  width: 40%;
  color: #393F44;
  font-size: 34px;
  font-family: Georgia,sans-serif;
  line-height: 1.3;
  color: #e80fe1;
  line-height: 1.5;
}

#homeMenuButton {
    position: absolute;
    top: 30%;
    left: 13%;
    font-size: 20px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

#listenMenuButton {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 20px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

#listenButton {
  position: absolute;
  left: 50%;
  top: 80%;
  margin-left: -150px;
  height: 100px;
  width: 300px;
  color: white;
  background-color: #393F44;
  font-size: 30px;
  border-radius: 40px;
  
}

#linkedin {
    position: absolute;
    left: 30%;
    top: 10px;
    width: 40px;
    height: 40px; 
}

#facebook {
  position: absolute;
  left: 35%;
  top: 10px;
  width: 40px;
  height: 40px; 
}

#instagram {
  position: absolute;
  left: 40%;
  top: 10px;
  width: 40px;
  height: 40px; 
}

#wave {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  /* display: block; */
  margin-left: auto; /* Centers image horizontally */
  margin-right: auto; /* Centers image horizontally */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  #wave {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 135%;
    height: 100%;
    /* display: block; */
    margin-left: auto; /* Centers image horizontally */
    margin-right: auto; /* Centers image horizontally */
    object-fit: cover; /* Centers image horizontally */ 
  }
}

#name {
  position: absolute;
  top: 60%;
  width: 100%;
  color: #000080;
  font-size: 72px;
  font-family: 'Comic Sans MS';
  text-align: center;
  font-weight: 'bold';
}

#slogan {
  position: absolute;
  top: 115%;
  width: 100%;
  font-size: 32px;
  font-family: 'Comic Sans MS';
  text-align: center;
}