body { 
  margin: 0;
}

#bar-frame { 
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #383f43;
  z-index: 1;
}

#home-menu-button {
  position: absolute;
  top: 30%;
  left: 13%;
  font-size: 20px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
}

#listen-menu-button {
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 20px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
}

#linkedin-icon {
  position: absolute;
  left: 30%;
  top: 10px;
  width: 40px;
  height: 40px; 
}

#facebook-icon {
  position: absolute;
  left: 35%;
  top: 10px;
  width: 40px;
  height: 40px; 
}

#instagram-icon {
  position: absolute;
  left: 40%;
  top: 10px;
  width: 40px;
  height: 40px; 
}

#home-frame {
  background-color: green;
  height: 100%;
}

#home-frame-wave {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 42% 0px; /* Centers image for mobile */
}

#home-frame-title {
  position: absolute;
  top: 60%;
  width: 100%;
  color: #000080;
  font-size: 72px;
  font-family: 'Comic Sans MS';
  text-align: center;
  font-weight: 'bold';
}

#home-frame-text {
  position: absolute;
  top: 115%;
  width: 100%;
  font-size: 32px;
  font-family: 'Comic Sans MS';
  text-align: center;
}

#listen-button {
  position: absolute;
  left: 50%;
  top: 80%;
  margin-left: -150px;
  height: 100px;
  width: 300px;
  color: white;
  background-color: #393F44;
  font-size: 30px;
  border-radius: 40px; 
}

#video-frame {
  background-color: #383f43;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#intro-frame {
  /* position: absolute; */
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fae8bd;
}

#intro-frame-image {
  /* margin: 0; */
  /* position: absolute; */
  /* left: 10%; */
  /* top: 50%; */
  height: 100%;
  /* background-color: blue; */
  /* Centers image vertifally */
  /* -ms-transform: translateY(-50%);  */
  /* Centers image vertifally */
  /* transform: translateY(-50%);  */
}

#intro-title {
  position: relative;
  left: 20%;
  top: 10%;
  width: 30%;
  color: #393F44;
  font-size: 50px;
  font-family: 'Georgia,sans-serif';
  /* background-color: green; */
  line-height: 1.3;
  color: #e80fe1
}

#intro-text {
  position: relative;
  top: 10%;
  /* right: 20%; */
  /* width: 40%; */
  color: #393F44;
  font-size: 34px;
  font-family: Georgia,sans-serif;
  line-height: 1.3;
  color: #e80fe1;
  line-height: 1.5;
}

#bio-frame {
  width: 100%;
  /* height: 50%; */
  background-color: #d6d8d6;
}

#bio-title {
  position: relative;
  width: 100%;
  padding-top: 50px;
  /* top: 15px; */
  color: #393F44;
  font-size: 45px;
  font-family: Georgia,sans-serif;
  /* background-color: red; */
  line-height: 1.3;
  text-align: center;
}

#bio-text1 {
  /* position: relative; */
  color: #393F44;
  font-size: 31px;
  /* background-color: yellow; */
  font-family: Georgia,sans-serif;
  line-height: 1.6;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
  /* margin-bottom: 40px; */
  padding-bottom: 50px;
  text-align: center;
}

#bio-frame2 {
  position: relative;
  display: flex;
  left: 0px;
  right: 0px;
  /* height: 60%; */
  /* bottom: 0px; */
  background-color: #fae8bd;
  overflow-x: hidden;
}

#bio-frame2-image {
  position: relative;
  left: 0px;
  top: 5px;
  bottom: 0px;
  /* width: 100px; */
  /* right: 0px; */
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  background-color: blue;
  /* width: 50%; */
  height: 100%;
  object-fit: contain;
}

#bio-text2 {
  /* position: relative; */
  top: 30%;
  left: 10%;
  width: 10 0%;
  color: #393F44;
  font-size: 31px;
  font-family: Georgia,sans-serif;
  line-height: 1.4;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  #home-frame, #video-frame  {
    height: 50%;
  }
}
